:root,
  :root.light {
    --bg-color: #e6dcd4;
    --text-color: #123;
  }

  :root.dark {
    --bg-color: #101010;
    --text-color: #ffffff;
  }

body {
  background-color: var(--bg-color);
  margin: 0;
}

body * {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: 'Inter';
}

.wrapper {
  margin: auto;
  max-width: 75rem;
  padding: 0 4rem;
}

.wrapper::before {
  border-bottom: .0625rem solid var(--text-color);
  content: '';
  left: 0;
  position: absolute;
  top: 3.1875rem;
  width: 100%;
}

.header, h1 {
  font-weight: 700;
  margin-top: 0;
}

.header .name {
  font-size: .875rem;
  letter-spacing: .0625rem;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: .875rem
}

button span {
  font-weight: 500;
  letter-spacing: .0625rem;
}

button .button-icon {
  padding-right: .375rem;
}

h1 {
  letter-spacing: .125rem;
  font-size: 3rem;
}

.header {
  align-items: center;
  display: flex;
  font-size: 16px;
  height: 3.25rem;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;
}

.links-navigation {
  display: flex;
  gap: 2rem;
}

.brief-introduction {
  display: grid;
  height: calc(100vh - 3rem);
  grid-template-areas: 
  "b b b b b b"
  "s s s s s c";
  grid-template-columns: repeat(5, 1fr) 20rem;
  grid-template-rows: 1fr 16.875rem;
  padding-bottom: 8rem;
  place-items: end;
}

.background-image {
  grid-area: b;
  height: 100%;
  width: 100%;
}

.summary {
  font-size: 1.25rem;
  grid-area: s;
  line-height: 1.75rem;
  padding-right: 2rem;
}

.summary p {
  letter-spacing: .0625rem;
}

.technologies-preview {
  grid-area: c;
  height: 100%;
  width: 100%;
}

.nav-icon {
  font-size: 2rem;
}

.profile-links {
  display: flex;
  gap: 0.75rem;
}

.profile-links a, .profile-links a:hover {
  color: inherit;
}

.technologies-carousel {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-button {
  position: absolute;
}

.swipe-left-button, .swipe-right-button {
  top: 0;
  bottom: 0;
}

.swipe-right-button {
  right: 0;
}

.carousel-content {
  display: flex;
  height: 16.875rem;
  transition: all 0.5s ease-out;
}

.carousel-content img {
  padding: 2rem 4rem;
  width: 20rem;
}

