body {
  margin: 0;
}

body * {
  font-family: 'Inter';
  box-sizing: border-box;
}

.wrapper {
  margin: auto;
  max-width: 75rem;
  padding: 0 4rem;
}

.header, h1 {
  font-weight: 700
}

.header .name {
  font-size: .875rem;
  letter-spacing: .0625rem;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: .875rem
}

button span {
  font-weight: 500;
  letter-spacing: .0625rem;
}

button .button-icon {
  padding-right: .375rem;
}

h1 {
  letter-spacing: .125rem;
  font-size: 3rem;
}

.header {
  align-items: center;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;
}

.header::before {
  border-bottom: .0625rem solid black;
  bottom: 0;
  content: '';
  left: -5%;
  position: absolute;
  width: 110%;
}

.links-navigation {
  display: flex;
  gap: 2rem;
}

.brief-introduction {
  place-items: end;
  display: grid;
  height: calc(100vh - 3rem);
  grid-template-columns: 5fr 2fr;
  padding-bottom: 8rem;
}

.summary {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-right: 2rem;
}

.summary p {
  letter-spacing: .0625rem;
}

.technologies-preview {
  width: 100%;
}

.nav-icon {
  font-size: 2rem;
}

.profile-links {
  display: flex;
  gap: 0.75rem;
}

.profile-links a, .profile-links a:hover {
  color: inherit;
}